.header {
    .logo {
        width: 121px;
        height: 55px;
    }
    .nav-link:hover {
        border-bottom: 2px solid $primary;
    }

}
.footer {
    .logo {
        width: 121px;
        height: 55px;
    }
    .form-control {
        max-width: 540px;
        height: 48px;
    }
    @include media-breakpoint-down(md) {
        .footer-logo {
            width: 100%;
        }
    }
}