<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
  <link rel="stylesheet" href="jqueryui/style.css">
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<body>
  <header class="header">
    <div class="container d-flex justify-content-between">      
      <a class="" href="index.html">
        <h1 class="m-0">PETPET</h1>
        <img src="./assets/images/logo.svg" class="d-inline-block align-top logo" alt="">
      </a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link pl-13 " href="#">預約服務</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-13" href="#">成為寵物保姆</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pl-5" href="#">登入</a>
        </li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    footer
  </footer>
  
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
  <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


  
</body>

</html>
