<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
  <header class="header">
    <div class="container ">      
      

      <nav class="navbar navbar-expand-md navbar-light align-items-center p-0 ">
        
        <a class="" href="index.html">
          <h1 class="m-0">PETPET</h1>
          <img src="./assets/images/logo.svg" class="d-inline-block align-top logo" alt="">
        </a>
        <div class="d-flex ">
          <button class="navbar-toggler border-0 " type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
        </div>  
               
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav nav">
            <li class="nav-item text-center">
              <a class="nav-link pl-md-10 pr-0 text-primary font-weight-bold" href="#"> 預約服務</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link pl-md-10 pr-0 text-primary font-weight-bold" href="#">成為寵物保姆</a>
            </li>
            <li class="nav-item text-center">
              <a class="nav-link pl-md-10 pr-0 text-primary font-weight-bold" href="#">登入</a>
            </li>          
          </ul>
        </div>
      </nav>

    </div>
  </header>

  <%- contents %>

  <footer class="footer ">
    <div class="bg-primary01 py-9">
      <div class="container contact ">
        <h2 class="h1 text-primary">有任何我們能幫助您的嗎？</h2>
        <p class="h5 mb-3 text-primary font-weight-light">輸入電子信箱<br>將有專業人員在線幫您解決所有問題</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="example@gmail.com" aria-label="Recipient's username" aria-describedby="btn-contact">
          <div class="input-group-append">
            <button class="btn-contact btn  btn-primary02" type="button" id="btn-contact">送出</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">

      <div class="row">
        <div class="col">
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0 p-0">
              <a href="#" class="list-group-item-action ">
                <img src="./assets/images/logo.svg" class="d-inline-block align-top logo" alt="">
              </a>
            </li>
            <li class="list-group-item text-primary border-0 p-0">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
  
      <table class="table table-borderless">
        <thead>
          <tr class="h5 text-primary">
            <th scope="col">
              <a class="" href="index.html">                
                
              </a>
            </th>
            <th scope="col">寵物服務</th>
            <th scope="col">加入我們</th>
            <th scope="col">聯繫我們</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>@twitter</td>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>

  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>


  
</body>

</html>
