---
title: 首頁
layout: ./app/layout.ejs
engine: ejs
current: service
---

<section class="homestay">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 text-primary ">
        <h1 class="h1 font-weight-bolder mb-3">寵物寄宿</h1>
        <p class="h4 font-weight-bolder">給您的毛孩最舒適的環境</p>
      </div>
      <div class="col-8 homestay-img">

      </div>
    </div>
    
  </div>
</section>

<section class="selectDate bg-primary01 mb-15">
  <div class="container py-3">
    <form >
      <div class=" d-flex m-0 ">     
          <select class="custom-select  mb-14 h5 font-weight-light mr-2">
            <option selected value="cat">貓</option>
            <option value="dog">狗</option>
          </select>        
          <select class="custom-select  rounded-0 mb-14 h5 font-weight-light mr-2">
            <option selected value="1">高雄</option>
            <option value="2">台北</option>
            <option value="3">台中</option>
          </select>
          <label for="from"></label>
          <input type="text" id="from" name="from" class="custom-select mr-2" placeholder="2020/11/20">
          <label for="to" class="mr-2 text-center">至</label>
          <input type="text" id="to" name="to" class="custom-select " placeholder="2020/11/21">

      </div>
    </form>
  </div>
</section>

<section class="popular position-relative mt-0  my-sm-12 my-md-15 " id="main">
  <div class="container ">
    <div class="mx-3 mx-md-0" data-aos="fade-up">
      <h2 class="h2 text-primary font-weight-bolder mb-14 " >本月熱門寄宿</h2>
      <!-- <p class="h5 text-primary mb-14">即時瞭解您的需求，安排最適合毛孩的寵物保姆！</p> -->
    </div>
    
    <!-- Swiper -->
  <div class="swiper-container d-none d-sm-block mx-3 mx-md-0" data-aos="fade-up" >
    <div class="swiper-wrapper ">
      <div class="swiper-slide">
        <div class="card card-popular p-1">
          <img src="./assets/images/index-2.jpeg " class="card-img-top" alt="...">
          <div class="card-body text-primary text-center px-0 px-md-20">
            <img src="./assets/images/person-1.png" class="d-inline card-img-body mb-1" alt="...">
            <h5 class="card-title ">Jamie</h5>
            <p class="card-text">寄宿、美容、寵物行為訓練</p>
            <a href="#" class="btn btn-primary02 py-14 px-17 mb-9 "><p class="m-0"">預約</p></a>
              <div class="d-flex justify-content-center">
                <div class="mr-3 mr-md-13">
                  <h6 class="h6">獲得評價</h6>
                  <p class="h3 d-inline">198</p>
                  <p class="d-inline"><small class="h7">則</small></p>
                </div>
                <div class="ml-3 ml-md-13">
                  <h6 class="h6">已完成訂單</h6>
                  <p class="h3 d-inline">580</p>
                  <p class="d-inline"><small class="h7">件</small></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card card-popular p-1">
          <img src="./assets/images/index-3.jpeg " class="card-img-top" alt="...">
          <div class="card-body text-primary text-center px-0 px-md-20">
            <img src="./assets/images/person-2.png" class="d-inline card-img-body mb-1" alt="...">
            <h5 class="card-title ">Eric</h5>
            <p class="card-text">寄宿、美容</p>
            <a href="#" class="btn btn-primary02 py-14 px-17 mb-9"><p class="m-0"">預約</p></a>
              <div class="d-flex justify-content-center">
                <div class="mr-3 mr-md-13">
                  <h6 class="h6">獲得評價</h6>
                  <p class="h3 d-inline">76</p>
                  <p class="d-inline"><small class="h7">則</small></p>
                </div>
                <div class="ml-3 ml-md-13">
                  <h6 class="h6">已完成訂單</h6>
                  <p class="h3 d-inline">208</p>
                  <p class="d-inline"><small class="h7">件</small></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class=" card card-popular p-1">
          <img src="./assets/images/index-4.jpeg " class="card-img-top" alt="...">
          <div class="card-body text-primary text-center px-0 px-md-20">
            <img src="./assets/images/person-3.png" class="d-inline card-img-body mb-1" alt="...">
            <h5 class="card-title ">Yvonne</h5>
            <p class="card-text">美容、寵物行為訓練</p>
            <a href="#" class="btn btn-primary02 py-14 px-17 mb-9"><p class="m-0"">預約</p></a>
              <div class="d-flex justify-content-center">
                <div class="mr-3 mr-md-13">
                  <h6 class="h6">獲得評價</h6>
                  <p class="h3 d-inline">52</p>
                  <p class="d-inline"><small class="h7">則</small></p>
                </div>
                <div class="ml-3 ml-md-13">
                  <h6 class="h6">已完成訂單</h6>
                  <p class="h3 d-inline">196</p>
                  <p class="d-inline"><small class="h7">件</small></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class=" card card-popular p-1">
          <img src="./assets/images/bo2.jpg " class="card-img-top" alt="...">
          <div class="card-body text-primary text-center px-0 px-md-20">
            <img src="./assets/images/person-3.png" class="d-inline card-img-body mb-1" alt="...">
            <h5 class="card-title ">Yvonne</h5>
            <p class="card-text">美容、寵物行為訓練</p>
            <a href="#" class="btn btn-primary02 py-14 px-17 mb-9"><p class="m-0"">預約</p></a>
              <div class="d-flex justify-content-center">
                <div class="mr-3 mr-md-13">
                  <h6 class="h6">獲得評價</h6>
                  <p class="h3 d-inline">52</p>
                  <p class="d-inline"><small class="h7">則</small></p>
                </div>
                <div class="ml-3 ml-md-13">
                  <h6 class="h6">已完成訂單</h6>
                  <p class="h3 d-inline">196</p>
                  <p class="d-inline"><small class="h7">件</small></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class=" card card-popular p-1">
          <img src="./assets/images/bo01.jpg " class="card-img-top" alt="...">
          <div class="card-body text-primary text-center px-0 px-md-20">
            <img src="./assets/images/person-3.png" class="d-inline card-img-body mb-1" alt="...">
            <h5 class="card-title ">Yvonne</h5>
            <p class="card-text">美容、寵物行為訓練</p>
            <a href="#" class="btn btn-primary02 py-14 px-17 mb-9"><p class="m-0"">預約</p></a>
              <div class="d-flex justify-content-center">
                <div class="mr-3 mr-md-13">
                  <h6 class="h6">獲得評價</h6>
                  <p class="h3 d-inline">52</p>
                  <p class="d-inline"><small class="h7">則</small></p>
                </div>
                <div class="ml-3 ml-md-13">
                  <h6 class="h6">已完成訂單</h6>
                  <p class="h3 d-inline">196</p>
                  <p class="d-inline"><small class="h7">件</small></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class=" card card-popular p-1">
          <img src="./assets/images/bo03.jpg " class="card-img-top" alt="...">
          <div class="card-body text-primary text-center px-0 px-md-20">
            <img src="./assets/images/person-3.png" class="d-inline card-img-body mb-1" alt="...">
            <h5 class="card-title ">Yvonne</h5>
            <p class="card-text">美容、寵物行為訓練</p>
            <a href="#" class="btn btn-primary02 py-14 px-17 mb-9"><p class="m-0"">預約</p></a>
              <div class="d-flex justify-content-center">
                <div class="mr-3 mr-md-13">
                  <h6 class="h6">獲得評價</h6>
                  <p class="h3 d-inline">52</p>
                  <p class="d-inline"><small class="h7">則</small></p>
                </div>
                <div class="ml-3 ml-md-13">
                  <h6 class="h6">已完成訂單</h6>
                  <p class="h3 d-inline">196</p>
                  <p class="d-inline"><small class="h7">件</small></p>
                </div>
              </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- <div class="swiper-button-next pp"> -->
      <span class="material-icons md-48 md-primary ">
        arrow_drop_down_circle
        <div class="swiper-button-next" onerror="this.style.display='none'"></div>        
        </span>
    <!-- </div> -->    
    </div>

    <!-- 停用swiper -->
  <div class="d-block d-sm-none mx-3">
    <ul class="list-unstyled ">
      <li class="w-100 mb-14">
        <div class="card card-popular p-1">
          <img src="./assets/images/index-2.jpeg " class="card-img-top" alt="...">
          <div class="card-body text-primary text-center ">
            <img src="./assets/images/person-1.png" class="d-inline card-img-body mb-1" alt="...">
            <h5 class="card-title ">Jamie</h5>
            <p class="card-text">寄宿、美容、寵物行為訓練</p>
            <a href="#" class="btn btn-primary02 py-14 px-17 mb-9">預約</a>
              <div class="d-flex justify-content-center">
                <div class=" mr-13">
                  <h6 class="h6">獲得評價</h6>
                  <p class="h3 d-inline">198</p>
                  <p class="d-inline"><small class="h7">則</small></p>
                </div>
                <div class=" ml-13">
                  <h6 class="h6">已完成訂單</h6>
                  <p class="h3 d-inline">580</p>
                  <p class="d-inline"><small class="h7">件</small></p>
                </div>
              </div>
          </div>
        </div>
      </li>
      <li class="w-100 mb-14">
        <div class="card card-popular p-1">
          <img src="./assets/images/index-3.jpeg " class="card-img-top" alt="...">
          <div class="card-body text-primary text-center ">
            <img src="./assets/images/person-2.png" class="d-inline card-img-body mb-1" alt="...">
            <h5 class="card-title ">Eric</h5>
            <p class="card-text">寄宿、美容</p>
            <a href="#" class="btn btn-primary02 py-14 px-17 mb-9">預約</a>
              <div class="d-flex justify-content-center">
                <div class=" mr-13">
                  <h6 class="h6">獲得評價</h6>
                  <p class="h3 d-inline">76</p>
                  <p class="d-inline"><small class="h7">則</small></p>
                </div>
                <div class=" ml-13">
                  <h6 class="h6">已完成訂單</h6>
                  <p class="h3 d-inline">208</p>
                  <p class="d-inline"><small class="h7">件</small></p>
                </div>
              </div>
          </div>
        </div>
      </li>
      <li class="w-100 mb-14">
        <div class=" card card-popular p-1">
          <img src="./assets/images/index-4.jpeg " class="card-img-top" alt="...">
          <div class="card-body text-primary text-center ">
            <img src="./assets/images/person-3.png" class="d-inline card-img-body mb-1" alt="...">
            <h5 class="card-title ">Yvonne</h5>
            <p class="card-text">美容、寵物行為訓練</p>
            <a href="#" class="btn btn-primary02 py-14 px-17 mb-9">預約</a>
              <div class="d-flex justify-content-center">
                <div class=" mr-13">
                  <h6 class="h6">獲得評價</h6>
                  <p class="h3 d-inline">52</p>
                  <p class="d-inline"><small class="h7">則</small></p>
                </div>
                <div class=" ml-13">
                  <h6 class="h6">已完成訂單</h6>
                  <p class="h3 d-inline">196</p>
                  <p class="d-inline"><small class="h7">件</small></p>
                </div>
              </div>
          </div>
        </div>
      </li>

    </ul> 
    </div>

  </div>
</section>

<section class="products">
  <div class="container">
    <div class="card card-products" style="width: 18rem;">
      <img src="./assets/images/homestay-2.jpeg " class="card-img-top" alt="...">
      <div class="card-body ">
        <h6 class="card-title text-primary">寵屋屋</h6>
        <!-- <% if (title === "Mypage") { %> Mypage <% } else { %> log in <% } %> -->

        <div class="" id="star"></div>
        <p class="h7 card-text text-primary">寄宿、美容洗澡、到府保姆</p>
      </div>
      
      <div class="card-footer ">
        <a href="#" class="card-link text-primary">聯繫</a>
        <a href="#" class="card-link text-primary02">預約</a>
      </div>
    </div>
  </div>
</section>


