.banner {
    min-height: 352px;
    // min-width: 375px;
    
    @include media-breakpoint-up(sm) {
        min-height: 288px;
    }
    @include media-breakpoint-up(md) {
        min-height: 736px;
    }
    &-container {
        min-height: 352px;
        position: relative; 
        top: 352px;       
        @include media-breakpoint-up(sm) {
            // max-width: 390px;
            min-height: 288px;
            // position: absolute;
            // position: relative;  
            top: 105px;    
            .h3 {
                font-size: 32px;
            }
            .h5 {
                font-size: 20px;                
            }

            .dropDown {
                margin-top: 102px;
                .md-primary02:hover {
                    color: lighten($primary02, 15%) ;
                  }
            }
               
        }
        @include media-breakpoint-up(md) {
            min-height: 736px;
            top: 0;
            .h3 {
                font-size: 40px;
            }
            .h5 {
                font-size: 24px;                
            }
            .dropDown {
                margin-top: 190px;
            }            
        }
    }

    &-img {
        @include banner-img("../images/index-1.png");
    // 背景圖視差滾動
    // background-attachment: fixed;
    }
    .custom-select {
        height: 48px;
        @include media-breakpoint-up(md) {
            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            &:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }            
        }
    }


    .btn {
        @include media-breakpoint-up(md) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 48px;
        }    
    }
    

}
.main {
    // padding-top: 300px;
    height: 800px;
    top: 352px;
    @include media-breakpoint-up(sm) {
        top: 0px; 
    }


    
}