.member {
    .container {
        margin-top: 64px;
            .h4 {
                line-height: 36px;
            }
        height: 100vh;
        
        @include media-breakpoint-up(md) {
            margin-top: 269px;
   
        }
        @include media-breakpoint-up(lg) {
            margin-top: 157px;
            .h4 {
                font-size: 32px;
                line-height: 48px;
            }
        }
    }
    &-name {
        line-height:52px
    }
}