.homestay {
    margin: 83px 0 57px;
    @include media-breakpoint-down(xs) {
        margin: 0;;
    }
    &-img {
        @include banner("../images/homestay-1.png", 315px);
        @include media-breakpoint-down(xs) {
            
        }
    }
      
}

.selectDate {
    .custom-select {
        width: 160px;
        &:nth-child(1) {
            width: 65px;
        }
    }
    form {
        height: 38px;
    }
    label {
        line-height:38px;
    }

}
.popular-service {
    top: 0;
}
.products {
    
}