@mixin hideText {
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
    }
.header h1 {
  background: #000;
  @include hideText;
}

