@mixin banner($url, $height) {
    background-image: url($url);
    height: $height;
    background-position: center center;
    background-size: cover;
    // background-size: 30%;
    background-repeat: no-repeat;    
}
@mixin banner-contain($url) {
    background-image: url($url);
    height: 736px;
    background-size: contain;
    // background-size: 40% 100%;
    background-repeat: no-repeat;    
}