@mixin banner($url, $height) {
    background-image: url($url);
    height: $height;
    background-position: center center;
    background-size: cover;
    // background-size: 30%;
    background-repeat: no-repeat;    
}
@mixin banner-img($url) {
    background-image: url($url);
    width: 530px;
    height: 736px;
    background-position: center center;
    // background-size: contain;
    transform: transLateX(0%);
    background-repeat: no-repeat; 
    left: 0;
    top: 0;   
}