//color
$primary01: #EDF4EE;
$primary-dark: darken($primary01, 15%);
$primary-light: lighten($primary01, 75%);

$secondary: #2A8356;
$secondary02: #CDDDCD;
$light: #AA06010D;
$danger: #650300;
$hovercolor: #a1bad0;
$white: #fff;
$black: #000;


//_variables.scss
$font-family-base:-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
