.btn {
  // padding: 12px 64px;
  &-primary02 {
    border-color: #CED4DA;
    &:hover {
      color: $primary03;
      background-color: $primary;
      // border-color: #a23100;
    }
  }
  &-contact {
    width: 160px;
    height: 48px;
  }
}

