.btn {
  // padding: 12px 64px;
  &-primary02 {
    border-color: #CED4DA;
    &:hover {
      color: $primary03;
      background-color: $primary;
      // border-color: #a23100;
      background: lighten($primary02, 15%) ;
    }
  }
  &-contact {
    width: 160px;
    height: 48px;
  }
  &-form {
    &:hover {
      background-color: #edeff1 !important;
    }
  }
  &-login, &-member {
    height: 48px;
    width: 255px;
  }
  @include media-breakpoint-down(md) {
    &-login, &-member {
      width: 100%; 
    }
  }
}
