.card {
    &-popular {
        @include media-breakpoint-up(lg) { 
            max-width: 350px;
            }
    }
    &-shadow:hover {
        box-shadow: 8px 8px 8px #adb5bd;
    }
    &-link {
        cursor: pointer;     
    }
    &-img-overlay {     
        // position: absolute;
        // top: 0;
        // right: 0;
        bottom: 104px;
        // left: 0;
        // padding: 1.25rem;
        border-radius: 0;
        background-color:rgba(0, 0, 0, 0.5);
}
}