.navbar {
  &-toggler {
    outline: none;
  } 
  &-nav {    
    @include breakpoint(phone) {
    // @include media-breakpoint(md) {
      
      position: absolute;
      left: 0;
      right: 0;
      z-index: 5;  
      .nav-item {
          background: $primary01;
          border-bottom: 1px solid $white;
          &:hover {          
            background: darken(#F8B52E, 15%) ;
          }
      }
      .nav-link {
        color: $white !important;    
    }
  }

 }
}

